<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.admin.mapper.CategoryMapper">

    <select id="selectCategories" resultType="com.cafe.admin.dto.CategoryDTO">
        select
            id,
            catename,
            catetype,
            indate
        from category

    </select>

    <delete id="deleteCategories" parameterType="com.cafe.admin.dto.CategoryDTO">
        delete from category
        where id = #{id}

    </delete>

    <insert id="insertCategories" parameterType="com.cafe.admin.dto.CategoryDTO">
        insert into category
            (catename)
            values
            (#{cateName})

    </insert>

    <update id="updateCategories" parameterType="com.cafe.admin.dto.CategoryDTO">
        update category
            set catename = #{cateName}
            where id = #{id}

    </update>

    <delete id="deleteCatemaps" parameterType="com.cafe.admin.dto.CategoryDTO">
        DELETE FROM CATEMAP
        WHERE CATEID=#{id}
          AND ETCTABLE='PRODUCT'
    </delete>
</mapper>
