<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe.admin.mapper.CustomerMapper">

    <select id="selectAdmin" parameterType="com.cafe.admin.dto.AdminDTO" resultType="com.cafe.admin.dto.AdminDTO">
        select
            id,
            password
        from admin where id = #{id} and password = #{password}

    </select>

    <select id="selectAllCustomers" resultType="com.cafe.admin.dto.CustomerDTO">
        select
            id
            ,pw
            ,name
            ,phone
            ,address
            ,email
            ,gender
            ,sns
            ,birth
            ,indate
            ,ismem
        from customer

    </select>

    <update id="customerStatus" parameterType="com.cafe.admin.dto.CustomerDTO">
        update customer
            set ismem = #{ismem}
            where id = #{id}

    </update>

    <select id="selectOrderBook" resultType="com.cafe.admin.dto.OrderDTO">
        select
            id,
            userId,
            name,
            phone,
            address,
            addressDetail,
            indate
        from orderbook


    </select>

    <select id="selectOrderDetail" parameterType="com.cafe.admin.dto.OrderDTO" resultType="com.cafe.admin.dto.OrderDTO">
        SELECT
            ID
            ,USERID
            ,(SELECT PRODUCTNAME FROM PRODUCT WHERE ID=PRODUCTID) productName
            ,AMOUNT
            ,PRICE
            ,INDATE
        FROM ORDERDETAIL
        WHERE ORDERID=#{id}
        ORDER BY INDATE DESC
    </select>

</mapper>
